
* {
box-sizing: border-box;
}

body{ 
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 48, 71);
    font-size: 1em;
}

.wrapper{ 
    margin: 0 auto;
    max-width: 1400px;
    padding: 0em;
}

a{ 
    text-decoration: none;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em;
    border: 1px solid #bc8600;
    border-radius: 0.5em;
    color: rgb(2, 48, 71);
}

.container{
    display: flex;
    position: relative;
    background-image:linear-gradient( 90deg,rgba(62, 133, 163,0.0),rgba(222, 236, 242, 1.0));
    border-bottom-right-radius:5em;
}

.container::before,
.container::after{
    content:' ';
    position: absolute;
    height: 6em;
    bottom:-4.3em;
    right: 0;
    left: 0;
    background: white;
    transform:skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    -webkit-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
}

.overbar{
    width:100%;
    height: 2vh;
    background-color: #3a78c0a3;
}

@media ( min-width: 501px){
    .navbar input,.nav-toggle,.navbar label{
        display:none;
    }
}
    
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: #CC8700;
    font-size: 1.5em ;
    margin-left: 0.1em;
    font-weight: bolder;
}

.navbar h1 .purple {
    color: #4e2d3f;
}

.logogroup{
    display: flex;
    align-items: center;
    min-width: 25%;
    padding-left: 2.2em;
}

.menu { 
    display: flex;
}

.menu a{ 
    border: 1px solid #bc8600;
    border-radius: 0.5em;
    color: rgb(2, 48, 71); 
    text-align: center;
    align-items: center;
}

.menu a:hover, .reasons a:hover,.hero a:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(2, 48, 71);
}

footer .links a:hover,.contact a:hover{
    font-weight: bolder;
    font-size: 1.1em;
}

.social a:hover,.social a:active, .social a:focus{
    font-size: 1.3em;
}
.logo{ 
    /*width: 25%;*/
    min-width: 2em;
    height: auto;
    float:left;
}


/* Hero section*/

.hero{
    width: 70%;
    text-align: left;
    padding:2.5em 3em;
}

.hero h1{
    font-size: 2.3em;
    font-family:'Cinzel', serif;
    font-weight: normal;
    color: rgb(2, 48, 71);
}

.hero h2{
    font-size: 1em;
    padding-bottom: 2em ;
    color: rgb(2, 48, 71);
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.hero a{
    color:#bc8600;
    background: rgba(222, 236, 242, 0.7);
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}

.product-img{
    display: flex;
}

.pack1{
    position: absolute;
    bottom: -4em;
    right:4.5em;
    float: right;
    width:10em;
    z-index:1;
}

.pack2{
    position:absolute;
    bottom: -1.5em;
    right:0em;
    float: right;
    width:10em;
    z-index: 1;    
    line-height: 1.5em;
}
    /* Advantages of product */ 

.uses{
    position: relative;
    z-index: 1;
    margin-top: 0;
    padding:0;
    border: 0;
    }

.smallG{
    font-size: ;
    color:#B77A1E;
}

.reasons{
    padding: 0 1em 0 ;
    line-height: 1.5em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr minmax(275px,1fr) minmax(275px,1fr) minmax(275px,1fr) ;
    grid-template-areas: 
    'ap meet meet ...'
    'ap prod1 prod2 prod3' ;
}

.prodpic{
    grid-area: ap;
    padding: 0;
    margin-top: 1.5em;
    border-top: 0;
}

.approval{
    width: 100%;
    height: 315px;
    object-fit: cover;
}

.reasons .greet{
    grid-area: meet;
}
.prod1{
    grid-area: prod1;
}
.prod2{
    grid-area: prod2;
    }
.prod3{
    grid-area: prod3;
}

.reasons .greet{
    display: flex;
    margin-left:0.5em;
    border: 0;
    font-size: 3rem;
    font-family: 'Expletus Sans', cursive;
}

.reasons .greet h1{
    border-top: 0;
}
.product h1{
    margin-top:0.5em;
    font-family: ;
}

.fas{
    padding-right: 1em;
    color:rgb(255, 183, 3);
}
.product{
    padding: 0em 1.5em;
}

.product p{
    text-align: justify;
    font-size: 0.9em;
}

    /* Uses of product, Something for everyone */ 

.demonstration{
    width: 100%;
    height:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: center;
    gap: 2.5em;
    align-items: center;
    background-color: rgb(2, 48, 71);
    position: relative;
    overflow:hidden;
    padding: 0 2em 1.2rem;
}

.demonstration::before,
.demonstration::after{
    content:' ';
    position: absolute;
    width:105%;
    height:5em;
    top:-3em;
    left: 0;
    right: 0;
    background: white;
    transform:skewY(-1.5deg);
    -o-transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}

.everyone{
    font-family:'Cinzel', serif;
    font-size: 1.8rem;
    position: relative;
    top: 1.5rem;
    margin-left: 27%;
}   

figure{
    margin: 0;
}

figcaption{
    color:white;
    text-align: center;
    margin-top: 1em;
    z-index: 1;
}

.pics{
    width:100%;
    margin-top: 4em;
    border-radius: 0.6em; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/** Footer**/

footer{
    color: rgb(2, 48, 71);
    background: #219ebc69;
    font-size: 0.9em;
}

footer h1,h2{
    font-size: 1.25em;
}

footer .social{
    text-align:center;
    margin:0 auto;
}

footer .links{
    padding: 5em auto;
    text-align: center;
    font-size: 1.2em;
}

footer .fab{
    font-size:2.2em;
    padding: 0.5em 1em;
}

footer .fa {
    padding: 0 1em 0 0.5em;
}

footer .second{
    display:flex;
    justify-content:space-around;
    gap:1em;
    margin-bottom:0em;
}


address{
    font-style: normal;
}

.indent{
    padding-left:4.5em;
}

footer .design{
    padding: 0.5em 2em;
    text-align:right;
    font-size: 0.7em;
    line-height:0.5em;
    color: white;
    margin:0 auto;
    background-color: rgb(2, 48, 71);
}

footer .design i{
    margin-left: 1em;
    margin-right: 0;
    border-left: 0;
    padding-left:0;
}


.eggold{
    width:60%;
    margin-top: 0.5em;
}

footer a{
    border: none;
    margin-left: 0em;
    padding-left:0em;
}

footer a:hover{
    text-decoration: underline;
}

footer ul{
    padding-left:1em;
}

/*First Small Screen Changes*/
@media (max-width: 1095px){
    .reasons{
        grid-template-columns: 1fr 1fr minmax(275px,1fr);
        grid-template-areas: 
        'ap meet meet'
        'prod1 prod2 prod3';
        }
    .prodpic{
        margin-left: 2em;
        margin-top: 0;
        height: 315px;
    }
    .reasons .greet h1{
        text-align: center;
    }
}

/* Breakpoint 2*/
@media (max-width: 840px){
    .hero{
        width: 85%;
    }
    .reasons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'ap meet meet'
        'prod1 prod1 prod1'
        'prod2 prod2 prod2'
        'prod3 prod3 prod3';
    }
    .product{
        margin-bottom: 1em;
    }
    .uses{
        margin-bottom: 0em;
    }
    .prod3{
        margin-bottom: 0;
    }
    .everyone{
        margin-top: 0;
    }
}


/* Tablets*/
@media (max-width: 768px){
    .navbar{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container{
        padding:0 0.5em 4em 0.5em;
        border-bottom-right-radius:0;
    }

    .container::before,
    .container::after{
        content:' ';
        position: absolute;
        height: 6em;
        bottom:-2em;
    }

    .hero{
        text-align: left;
        width: 85%;
    }
    .demonstration{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: stretch;
        gap: 1em;
        padding-left: 1em;
        padding-right: 1em;
        height: auto;
        align-items: stretch;
        grid-template-areas: 
        'grid-3 grid-3 grid-1'
        'grid-3 grid-3 grid-2'
        ;
    }
    .pic2{
        margin-top: 0;
    }
    .grid-3{
        grid-area: grid-3;
    }
    .grid-1{
        grid-area: grid-1;
    }
    .grid-2{
        grid-area: grid-2;
    }

    footer .second{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3em;
        margin: 1em 2.5em;
    }
     .contact h1{
        margin-left: 1em;
     }
    .address{
        display: none;
    }  
    footer .design{
        padding: 0.5em 2em;
        text-align:center;
    }

}
@media (max-width: 575px){
    .reasons .greet{
        font-size: 2.5rem ;
    }
    .approval{
        object-fit: cover;
    }
    .everyone{
        text-align: center;
        margin: 0 auto 1em;
    }
}


/* Mobile Devices*/
@media (max-width: 500px){
    .hero,.product-img,.container,.uses,.showuse,.demonstration{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    /* nav*/
    header{
        position: relative;
        text-align: center;
        z-index: 999;
        width: 100%;     
    }

    .navbar{
        justify-content: space-between;
    }

    .hero h1{
        font-size: 2em;
    }

    .logogroup{
        font-size: 0.9em;
    }
    .logo{
        width:30%;
    }
    .nav-toggle{
        display: none;
    }

    .nav-toggle-label{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 1em;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display:block;
        background:black;
        height: 2px;
        width:2em;
        margin-right: 0;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before{
        bottom:7px;
    }
    .nav-toggle-label span::after{
        top:7px;
    }
    nav{
        position: absolute;
        text-align: right;
        top: 100%;
        left: 60%;
        width: 40%;
        background: rgba(255, 255, 255, 0.95);
        display: none;
    }

    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li{
        margin-bottom: 1em;
        margin-right: 1em;
    }
    nav a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
    .nav-toggle:checked ~ nav{
        display: block;
    }
    .menu{
        flex-direction: column; 
    }

   /*end of nav*/

    .container{
        padding:1rem 0.5em 7em 0.5em;
        border-bottom-right-radius:0;
    }

    .hero{
        flex-basis:90%;
        padding:0;
        line-height: normal;
    }

    .hero p{
        margin:0;
    }

    .pack1,.pack2{
        margin: 0 auto;
        bottom:-13em;
        left: 8%;
    }
    .pack2{
        bottom:-11em;
        left:20%;
    }

    .reasons{
        margin-top:12em;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'meet'
        'ap'
        'prod1'
        'prod2' 
        'prod3';
    }
    .reasons .greet{
        text-align: center;
        margin: 3rem auto 2.5rem;
        font-size: 3rem;
    }

    .prodpic{
        margin-bottom: 2rem;
    }
    .approval{
        object-fit: contain;
    }

    .product{
        margin-bottom: 2rem;
    }
    .product h1{
        text-align: left;
        margin-left: 20% ;
    }
    .product a{
        margin-left:-1em;
    }
    .product br {
        display: none;
    }
    /*carousel*/

    /* end of carousel*/
  
    .demonstration{
        padding-top:5rem;
    }
    .demonstration::before,
    .demonstration::after{
        content:'';
        position: absolute;
        width:105%;
        height:3em;
        top:-2em;
        left: 0;
        right: 0;
        background: white;
        transform:skewY(-2deg);
        -o-transform: skewY(-2deg);
        -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
    }

    .everyone{
        text-align: center;
        margin-left:0 auto;
        top: 0%;
        font-family:'Cinzel', serif;
    }

    .users{
        padding-top: 0.5rem;
    }

    .users img{
        margin:0;
    }
    .hero a{
        padding: 0.5em 1em;
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: ;
    }
    .divs-top-space{
        margin-top: -1.7em;
    }
    .second h1,h2{
        text-align: center;
    }

    footer .links {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }
    footer .links a {
        padding-right:0.2rem;
        padding-left: 0.2rem;
        margin-right: 0em;
    }

    .design{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding:0;
    }
}

@media (max-width: 360px){
    .reasons .greet{
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
    }

    .prod3 h1{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/*ABOUT*/



/*CONTACT*/

.chero{
    width: 70%;
    text-align: left;
    padding:2.5em 0em;
    margin-left: 2.5em;
}

.chero h1{
    font-size: 2.3em;
    font-family:'Cinzel', serif;
    font-weight: bold;
    color: rgb(2, 48, 71);
}

.chero p{
    font-size: 1em;
    padding-bottom: 2em ;
    color: rgb(2, 48, 71);
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.3em;
}
.cmain{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index:1;
    margin: 2em;
}

.csocial{
    flex-basis: 35%;
    padding: 2em 2em 1em 2em;
    margin: 0.5em;
    background-color: white;
}

.csocial a{
    border: none;
    margin: 0;
    padding: 0;
}

.csocial a:hover{
    text-decoration: underline;
    color:#bc8600 ;
}
.ccontacts{
    flex-basis: 35%;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 3em 2em 0em 6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    margin: 0;
}

.form h2{
    margin: 1em 0 2em 0.5em;
    padding:0;
}

.caddress{
    display:flex;
    justify-content: left;
}

.caddress h2{
    font-weight: bold;
    margin-bottom: 2em 0 0 ;
}

.csocial .fab, .fa{
    margin: 0 1em 0 1em;
    padding: 0.2em 0.5em;
}

.cindent{
    padding-left: 8em;
}

.ccontainer{
    position: relative;
    background-image:linear-gradient( 90deg,rgba(62, 133, 163,0.0),rgba(222, 236, 242, 1.0));
}

.ccontainer::before,
.ccontainer::after{
    content:'';
    position: absolute;
    height: 6em;
    width:105%;
    bottom:-4.3em;
    right: 0;
    left: 0;
    background: white;
    transform:skewY(-1.6deg);
    -o-transform: skewY(-1.6deg);
    -webkit-transform: skewY(-1.6deg);
    -ms-transform: skewY(-1.6deg);
}


Label{
    margin:0 1em 1em 0.5em;
    font-weight: bold;
}

input,textarea{
    width:80%;
    padding:0.5em;
    margin:0.5em;
}

input[type=submit]{
    padding:1em;
    margin: 0rem;
    border-radius:0.5em;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=email]{
    margin-left: 0.6em;
}

.actions{
    margin: 0 auto;
    text-align: center;
    width:50%;
    padding: 1em 3em 0 0em;
}

legend{
    padding:1em;
}
