
* {
box-sizing: border-box;
}

body{ 
    font-family: 'Montserrat', sans-serif;
    color: rgb(2, 48, 71);
    font-size: 1em;
}

.wrapper{ 
    margin: 0 auto;
    /*!--max-width: 1300px;*/
    padding: 0em;
}

a{ 
    text-decoration: none;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em;
    border: 1px solid #bc8600;
    border-radius: 0.5em;
    color: rgb(2, 48, 71);
}

.container{
    display: flex;
    position: relative;
    background-image:linear-gradient( 90deg,rgba(62, 133, 163,0.0),rgba(222, 236, 242, 1.0));
    border-bottom-right-radius:8em;
}

.container::before,
.container::after{
    content:'';
    position: absolute;
    height: 6em;
    bottom:-4.3em;
    right: 0;
    left: 0;
    background: white;
    transform:skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    -webkit-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
}

.overbar{
    width:100%;
    height: 2vh;
    background-color: #3a78c0a3;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: #CC8700;
    font-size: 1.5em ;
    margin-left: 0.1em;
}

.gold{
    color: #523106;
}

.logogroup{
    display: flex;
    align-items: center;
    width:auto;
    padding-left: 2.2em;
}

  /* (B) HORIZONTAL MENU ITEMS */
 .menu { 
     display: flex;
 }
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }

.menu a{ 
    border: 1px solid #bc8600;
    border-radius: 0.5em;
    color: rgb(2, 48, 71); 
    text-align: center;
    align-items: center;
}

.menu a:hover, .reasons a:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(2, 48, 71);
}

.logo{ 
    width: 30%;
    min-width: 6em;
    height: auto;
    float:left;
}


/* Hero section*/

.hero{
    width: 70%;
    text-align: left;
    padding:2.5em 3em;
}

.hero h1{
    font-size: 2.3em;
    font-family:'Cinzel', serif;
    font-weight: normal;
    color: rgb(2, 48, 71);
}

.hero p{
    font-size: 1em;
    padding-bottom: 2em ;
    color: rgb(2, 48, 71);
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.hero a{
    color:#bc8600;
    background: rgba(222, 236, 242, 1.0);
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}

.product-img{
    display: flex;
}

.pack1{
    position: absolute;
    bottom: -4em;
    right:4.5em;
    float: right;
    width:10em;
    z-index:1;
}

.pack2{
    position:absolute;
    bottom: -1.5em;
    right:0em;
    float: right;
    width:10em;
    z-index: 1;    
    line-height: 1.5em;
}

    /* Advantages of product */ 

.uses {
    z-index: 1;
    position: relative;
}

.uses>h1{
    font-size: 3em;
    margin-left:27%;
    margin-top: 1em;
    margin-bottom:0.7em;
    font-family: 'Expletus Sans', cursive;
}

.smallG{
    font-size: ;
    color:#B77A1E;
}

.reasons{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 0.5em 1em;
    line-height: 1.5em;

}

.reasons h1{
    margin-top:0.5em;
    font-family: ;
}

.fas{
    padding-right: 1em;
    color:rgb(255, 183, 3);
}

.product{
    padding: 0em 1.5em;
}

.product p{
    text-align: justify;
    font-size: 0.8em;
}

.approval{
    position:absolute;
    z-index: 1;
    left:5em;
    top:0
}

    /* Uses of product, Something for everyone */ 

.demonstration{
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 48, 71);
    position: relative;
    overflow:hidden;
}

.demonstration::before,
.demonstration::after{
    content:'';
    position: absolute;
    width:105%;
    height: 5em;
    top:-3em;
    left: 0;
    right: 0;
    background: white;
    transform:skewY(-1.5deg);
    -o-transform: skewY(-1.5deg);
    -webkit-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
}

figcaption{
    color:white;
    text-align: center;
    margin-top: 1em;
    z-index: 1;
}

.pics{
    margin-top: 4em;
    border-radius: 0.6em; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/** Footer**/

footer{
    color: rgb(2, 48, 71);
    background: #219ebc69;
    font-size: 0.9em;
}

footer h1,h2{
    font-size: 1.25em;
}

footer .social{
    text-align:center;
    margin:0 auto;
}

footer .links{
    padding: 5em auto;
    text-align: center;
    font-size: 1.2em;
}

footer .fab{
    font-size:2.2em;
    padding: 0.5em 1em;
}

footer .fa {
    padding: 0 1em 0 0.5em;
}

footer .second{
    display:flex;
    justify-content:space-around;
    gap:1em;
    margin-bottom:0em;
}


address{
    font-style: normal;
}

.indent{
    padding-left:4.5em;
}

footer .design{
    padding: 0.5em 2em;
    text-align:right;
    font-size: 0.7em;
    line-height:0.5em;
    color: white;
    margin:0 0;
    background-color: rgb(2, 48, 71);
}

.eggold{
    width:80%;
    margin-top: 1em;
}

footer a{
    border: none;
    margin-left: 0em;
    padding-left:0em;
}

footer a:hover{
    text-decoration: underline;
}

footer ul{
    padding-left:1em;
}

/* Mobile Devices*/
@media (max-width: 500px){
    .hero,.product-img,.container,.uses,.reasons,.showuse,.approval,.demostration{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .menu { 
        display: none; 
    }


    .menu a{
        box-sizing: border-box;
        display: block;
        width: 100%;           
        border-top: 1px solid #333;
    }

    #hamnav label { 
        display: inline-block; 
        color: black;
        background: #white;
        font-style: italic;
        font-size: 1.8em;
        padding: 10px;
        font-weight: Normal;
    }

    #hamnav label[for="hamburger"] { font-size: XX em }


    #hamnav input:checked ~ .menu { 
        display: block; 
    }

    .menu a:hover,.menu a:focus, .menu a:active{

    }

    .container{
        padding:1rem 0.5em 7em 0.5em;
        border-bottom-right-radius:0;
    }

    .hero{
        flex-basis:90%;
        padding:0;
        line-height: normal;
    }

    .hero p{
        margin:0;
    }

    .pack1,.pack2{
        margin: 0 auto;
        bottom:-13em;
        left: 8%;
    }
    .pack2{
        bottom:-11em;
        left:20%;
    }
    .approval{
        position:relative;
        margin: 0 auto 1em;
        left: 0;
    }
    .uses>h1{
        font-size: 3em;
        text-align: center;
        margin: 4.5em 0 0 0;
    }

    .product{
        margin-bottom: 2rem;
    }
    .product h1{
        text-align: left;
        margin-left: 20% ;
    }
    .product a{
        margin-left:-1em;
    }
    .product br {
        display: none;
    }
    /*carousel*/

    /* end of carousel*/

    .hero a{
        padding: 0.5em 1em;
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: ;
    }
    .divs-top-space{
        margin-top: -1.2em;
    }
    .second h1,h2{
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: center;
    }

    .design{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding:0;
    }
}



/*ABOUT*/



/*CONTACT*/

.chero{
    width: 70%;
    text-align: left;
    padding:2.5em 0em;
    margin-left: 2.5em;
}

.chero h1{
    font-size: 2.3em;
    font-family:'Cinzel', serif;
    font-weight: bold;
    color: rgb(2, 48, 71);
}

.chero p{
    font-size: 1em;
    padding-bottom: 2em ;
    color: rgb(2, 48, 71);
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.3em;
}
.cmain{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index:1;
    margin: 2em;
}

.csocial{
    flex-basis: 35%;
    padding: 2em 2em 1em 2em;
    margin: 0.5em;
    background-color: white;
}

.csocial a{
    border: none;
    margin: 0;
    padding: 0;
}

.csocial a:hover{
    text-decoration: underline;
    color:#bc8600 ;
}
.ccontacts{
    flex-basis: 35%;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 3em 2em 0em 6em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    margin: 0;
}

.form h2{
    margin: 1em 0 2em 0.5em;
    padding:0;
}

.caddress{
    display:flex;
    justify-content: left;
}

.caddress h2{
    font-weight: bold;
    margin-bottom: 2em 0 0 ;
}

.csocial .fab, .fa{
    margin: 0 1em 0 1em;
    padding: 0.2em 0.5em;
}

.cindent{
    padding-left: 8em;
}

.ccontainer{
    position: relative;
    background-image:linear-gradient( 90deg,rgba(62, 133, 163,0.0),rgba(222, 236, 242, 1.0));
}

.ccontainer::before,
.ccontainer::after{
    content:'';
    position: absolute;
    height: 6em;
    width:105%;
    bottom:-4.3em;
    right: 0;
    left: 0;
    background: white;
    transform:skewY(-1.6deg);
    -o-transform: skewY(-1.6deg);
    -webkit-transform: skewY(-1.6deg);
    -ms-transform: skewY(-1.6deg);
}


Label{
    margin:1em 1em 1em 0.5em;
    font-weight: bold;
}

input,textarea{
    width:80%;
    padding:0.5em;
    margin:0.5em;
}

input[type=submit]{
    padding:1em;
    margin: 0rem;
    border-radius:0.5em;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=email]{
    margin-left: 0.6em;
}

.actions{
    margin: 0 auto;
    text-align: center;
    width:50%;
    padding: 1em 3em 0 0em;
}

legend{
    padding:1em;
}
